* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background, #090909);
    color: var(--text, white);
    --imgbackgound: #000000;
}


/* header start */

header {
    height: 100px;
    color: var(--text);
    text-align: center;
}

#headercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

#theme-button {
    position: absolute;
    right: 75px;
    border: 1px solid #17795E;
    background-color: #209978;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
}

#heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* header end */

/* main start */
#maincontainer {
    height: 500px;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

@media (max-width: 768px) {
    #maincontainer {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #headercontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 100vw;
    }

    #theme-button {
        position: static;
        right: 0;
        margin-top: 20px;
    }
}


#upload {
    height: 500px;
    width: 35vw;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upload img {
    height: 300px;
}

#upload input {
    margin-top: 20px;
    padding-left: 20px;
}

#convert {
    height: 500px;
    width: 30vw;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download {
    display: flex;
    width: 35vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download img {
    height: 300px;
    background-color: var(--imgbackgound);
}

#download button {
    margin-top: 20px;
    margin-left: 10px;
}

main {
    height: 800px;
}

/* main end */
footer {
    text-align: center;
    color: var(--text);
}

#downloadbutton {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #209978;
    overflow: hidden;
}

#downloadbutton,
.button__icon,
.button__text {
    transition: all 0.3s;
}

#downloadbutton .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
}

#downloadbutton .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
}

#downloadbutton .svg {
    width: 20px;
    fill: #fff;
}

#downloadbutton:hover {
    background: #17795E;
}

#downloadbutton:hover .button__text {
    color: transparent;
}

#downloadbutton:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

#downloadbutton:active .button__icon {
    background-color: #146c54;
}

#downloadbutton:active {
    border: 1px solid #146c54;
}

#convertbutton {
    font-family: inherit;
    font-size: 20px;
    background: #17795E;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

#convertbutton span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#convertbutton svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#convertbutton:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

#convertbutton:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#convertbutton:hover span {
    transform: translateX(5em);
}

#convertbutton:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

body.dark-mode {
    background-color: var(--background, #ffffff);
    color: var(--text, #090909);
    --imgbackgound: #ffffff;
}